::ng-deep {
  .search-container {
    input[type="text"] {
      width: 400px;
    }
    .searchbtn {
      vertical-align: baseline;
    }
  }
}

::ng-deep ng2-smart-table {
  span.onStatus {
    color: rgb(48, 159, 48);
    font-weight: 600;
  }
}
