

<nb-card class="model-full">
  <nb-card-header fixed>
    <div class="flex-box">
      <h2>{{ titleWorkDate }}</h2>
      <button type="button" class="btn btn-primary btn-sm" nbButton (click)="dialogRef.close()">Close Dialog</button>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <!-- 選取專案項目 -->
      <div class="col-md-5" style="padding: 0%;">
        <nb-layout>
          <nb-layout-column>
            <div class="row">
              <h6>專案群組</h6>
              <ng-select [items]="filteredGroups$ | async"
                        placeholder="選取專案群組"
                        bindLabel="Name"
                        bindValue="Id"
                        groupBy="GroupList"
                        style="width: 100%;"
                        (change)="onProjectGroupSelectionChange()"
                        [(ngModel)]="selectedProjectGroup">
                <ng-template ng-header-tmp>
                    <div class="row">
                      <nb-actions size="small"><nb-action icon="search" (click)="onSearchProjectGroup()"></nb-action></nb-actions>                          
                      <input type="text" placeholder="輸入關鍵字" nbInput [(ngModel)]='searchProjectGroupValue'/>
                    </div>
                </ng-template>
                <ng-template ng-optgroup-tmp let-item="item">{{ item.GroupTitle }}</ng-template>
                <ng-template ng-option-tmp let-item="item">{{ item.Name }}</ng-template>
              </ng-select>
            </div>
            <br/>
            <div class="row">
              <h6>專案</h6>
              <ng-select [items]="filteredProject$ | async"
                        placeholder="選取專案"
                        bindLabel="Name"
                        bindValue="Id"
                        style="width: 100%;"
                        (change)="onProjectSelectionChange()"
                        [(ngModel)]="selectedProject">
                <ng-template ng-header-tmp>
                    <div class="row">
                      <nb-actions size="small"><nb-action icon="search" (click)="onSearchProject()"></nb-action></nb-actions>                          
                      <input type="text" placeholder="輸入關鍵字" nbInput [(ngModel)]='searchProjectValue'/>
                    </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">{{ item.Name }}</ng-template>
              </ng-select>
            </div>

            <p></p>
            <div class="text-right">
              <button type="button" class="btn btn-primary btn-sm" nbButton ><nb-icon icon="star"></nb-icon>只顯示已釘選</button>
            </div>
            <div style="height: 480px">
              <tree-root [nodes]="nodesTree" [options]="optionsSetting"></tree-root>
            </div>
          </nb-layout-column>
        </nb-layout>
      </div>
      
      <!-- 選取工作項目 button -->
      <div class="col-md-1 use-flexbox" style="padding: 0%;">
        <button nbButton class="btn btn-primary"><i class="nb-arrow-thin-right"></i></button>
      </div>

      <!-- 工作項目清單 -->
      <div class="col-md-6" style="padding: 0%;" >
        <nb-layout>
          <nb-layout-column>
            <p>測試</p>

            <!-- <button type="button" 
              class="btn select-button btn-sm" 
              (blur)="trySetTouched()"
              (keydown.arrowDown)="show()"
              (keydown.arrowUp)="show()" 
              nbButton
              shape="semi-round" 
              #selectButton>選取專案群組

              <nb-icon icon="chevron-down-outline" pack="nebular-essentials" aria-hidden="true"></nb-icon>
            </button>

            <nb-option-list *nbPortal>
              <ng-content select="nb-option, nb-option-group"></ng-content>
    <nb-option-group *ngFor="let groupList of filteredGroups$ | async;" [title]="groupList.GroupTitle">
    <nb-option *ngFor="let item of groupList.GroupList" [value]="item" >
      {{ item.Name }} 
    </nb-option>
  </nb-option-group> 
            </nb-option-list> -->



          </nb-layout-column>
        </nb-layout>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer class="text-right">
    <!-- <button type="button" class="btn btn-primary btn-sm" nbButton (click)="dialogRef.close()">Close Dialog</button> -->
  </nb-card-footer>
</nb-card>

    
    