<nb-card class="model-custom model-md">
  <nb-card-header class="text-right">
    <button type="button" class="btn btn-cancel" nbButton (click)="cancel()"><nb-icon icon="close-outline"></nb-icon></button>
  </nb-card-header>
  <nb-card-body>
    <form #Form="ngForm">
      <div class="model-col">
        <label class="subtitle" for="sn">單位編號<span class="quired">*</span></label>
        <p><input type="text" id="sn" name="sn" [(ngModel)]="sn" #deptSn="ngModel" class="form-control" placeholder="請輸入單位編號" required disabled></p>
        <p *ngIf="deptSn.invalid && (deptSn.dirty || deptSn.touched)" class="text-danger">
          <span *ngIf="deptSn.errors.required">此為必填欄位</span>
        </p>
      </div>
      <div class="model-col">
        <label class="subtitle" for="name">單位名稱<span class="quired">*</span></label>
        <p><input type="text" id="name" name="name" [(ngModel)]="name" #deptName="ngModel" class="form-control" placeholder="請輸入單位名稱" required></p>
        <p *ngIf="deptName.invalid && (deptName.dirty || deptName.touched)" class="text-danger">
          <span *ngIf="deptName.errors.required">此為必填欄位</span>
        </p>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="text-right">
    <button type="button" class="btn btn-primary btn-md" nbButton (click)="submit()" [disabled]="!Form.form.valid">確認</button>
  </nb-card-footer>
</nb-card>
