<nb-card class="model-full">
  <nb-card-body>
    <div>
      <div class="model-col">
        <label class="subtitle" for="subject">群組編號</label>
        <p><input type="text" id="sn" name="sn" [(ngModel)]="sn" class="form-control" #SN="ngModel" placeholder="請輸入群組編號" required pattern="^[a-zA-Z0-9]*$" disabled></p>
        <p *ngIf="SN.invalid && (SN.dirty || SN.touched)" class="text-danger">
          <span *ngIf="SN.errors.required">此為必填欄位</span>
          <span *ngIf="SN.errors.pattern">此欄位僅能輸入英文及數字</span>
        </p>
      </div>
      <div class="model-col mb-2">
        <label class="subtitle" for="subject">群組名稱</label>
        <p><input type="text" id="name" name="name" [(ngModel)]="name" #Name="ngModel" class="form-control" placeholder="請輸入群組名稱" required></p>
        <p *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="text-danger">
          <span *ngIf="Name.errors.required">此為必填欄位</span>
        </p>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="text-right">
    <button type="button" class="btn btn-primary btn-sm" nbButton (click)="cancel()">取消</button>
    <button type="button" class="btn btn-primary btn-sm" nbButton (click)="submit()">確認</button>
  </nb-card-footer>
</nb-card>
