<div class="row">
    <div class="col-8 col-md-8">
        <full-calendar #fullcalendar [options]="calendarOptions" ></full-calendar>
    </div>
    <div class="col-6 col-md-4">
        <h2>工時填寫內容</h2>
        
        <div *ngIf="showEventDetail">
            <div class="d-flex justify-content-around mb-3">
                <div class="p-2"><h4>{{ eventDate }}</h4></div>
                <div class="p-2"><h4>{{ totalWorkHours }}</h4></div>
            </div>
    
            <div class="list-group" *ngFor="let eventDetail of arrayProjrct">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 Class="mb-1">{{ eventDetail.workHour }} 小時</h5>
                  </div>
                  <p class="mb-1">專案名稱</p>
                  <p class="mb-1">{{ eventDetail.projrctName }}</p>
                  <div *ngFor="let workItem of eventDetail.workItem;let recordIndex = index">
                      <div>
                        <div><small class="text-muted">工作項目 {{ recordIndex + 1}}</small></div>
                        <div><small>{{ workItem.item }}</small></div>
                      </div>
                      <div>
                        <div><small class="text-muted">內容說明 {{ recordIndex + 1}}</small></div>
                        <div><small>{{ workItem.desc }}</small></div>
                      </div>
                  </div>
                </a>
              </div>
        </div>
    </div>
</div>