<nb-card class="model-full">
  <nb-card-body>
    <div>
      <div class="model-col">
        <p class="subtitle">主旨</p>
        <p><input type="text" name="subject" [(ngModel)]="subject" class="form-control" placeholder="請輸入主旨"></p>
      </div>
      <div class="model-col">
        <p class="subtitle">開始時間</p>
          <p>
            <input nbInput [nbDatepicker]="formcontrol" [(ngModel)]="formControl" class="form-control">
            <nb-datepicker #formcontrol [min]="min"></nb-datepicker>
          </p>
      </div>
      <div class="model-col">
        <p class="subtitle">結束時間</p>
        <p>
          <input nbInput [nbDatepicker]="ngmodel" [(ngModel)]="ngModelDate" class="form-control">
          <nb-datepicker #ngmodel [min]="formControl"></nb-datepicker>
        </p>
      </div>
      <div class="model-col mb-2">
        <p class="subtitle">消息內容</p>
        <p><textarea name="content" [(ngModel)]="content" cols="10" rows="3" maxlength="200" class="form-control"></textarea></p>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="text-right">
    <button type="button" class="btn btn-primary btn-sm" nbButton (click)="cancel()">取消</button>
    <button type="button" class="btn btn-primary btn-sm" nbButton (click)="submit()">確認</button>
  </nb-card-footer>
</nb-card>
