<ng-template #dialog let-data let-ref="dialogRef">
  <app-latest-news-modal [resource]="inputData" (create)="create()"></app-latest-news-modal>
</ng-template>

<app-test [resource]="inputData" (create)="create()"></app-test>

<nb-card status="success">
  <nb-card-header>最新消息</nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <div class="row">
        <p><button type="button" class="btn btn-primary btn-sm" (click)="open()">新增</button></p>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">主旨</th>
              <th scope="col">消息內容</th>
              <th scope="col">開始時間</th>
              <th scope="col">結束時間</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <!-- <tbody>
            <tr *ngFor="let news of newsList$ | async; index as i">
              <th scope="col">{{ i + 1}}</th>
              <td>{{ news.subject }}</td>
              <td>{{ news.content }}</td>
              <td>{{ news.startAt }}</td>
              <td>{{ news.endAt }}</td>
              <td><nb-icon icon="edit-outline"></nb-icon></td>
              <td><nb-icon icon="trash-2-outline"></nb-icon></td>
            </tr>
          </tbody> -->
          <!-- <tbody>
            <tr *ngFor="let news of newsList; index as i">
              <th scope="col">{{ i + 1}}</th>
              <td>{{ news.subject }}</td>
              <td>{{ news.content }}</td>
              <td>{{ news.startAt }}</td>
              <td>{{ news.endAt }}</td>
              <td><nb-icon icon="edit-outline"></nb-icon></td>
              <td><nb-icon icon="trash-2-outline"></nb-icon></td>
            </tr>
          </tbody> -->
        </table>
      </div>
    </div>
  </nb-card-body>
  <!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
</nb-card>
